<p>Añadir Comentario</p>
<br>
<form action="/quizes/<%= quizid %>/comments" method="post">
	<p>
		<input type="text" id="comment" name="comment[texto]">
	</p>
	<br>
	<p>
		<button type="submit">Enviar</button>
	</p>
</form>